# ============================================================================
# PNZ_FINAL.PCF
# ============================================================================
#
# $Id: PNZ_FINAL.PCF 644 2008-09-04 08:31:53Z jpalmer $
#
#
PID SCRIPT   OPT_DIR  CAMPAIGN CPU      F WAIT FOR....
3** 8******* 8******* 8******* 8******* 1 3** 3** 3** 3** 3** 3** 3** 3** 3** 3**
#
# Compute ambiguity-fixed network solution, create final NEQ/SNX/TRO files
# ------------------------------------------------------------------------
001 PNZSTART PNZ_GEN           ANY      1
#
# End of BPE
# ----------
#
010 GETDATA  PNZ_ORB           ANY      1 001
020 POLUPD   PNZ_ORB           ANY      1 010
030 PRETAB   PNZ_ORB           ANY      1 020
040 ORBGEN   PNZ_ORB           ANY      1 030
050 RNX2STA  PNZ_REF           ANY      1 040
055 PNZATX   PNZ_REF           ANY      1 050
060 RXOBV3   PNZ_REF           ANY      1 055
070 CODSPP   PNZ_REF           ANY      1 060
080 GETDATA  PNZ_REF           ANY      1 070
085 CRDMERGE PNZ_REF           ANY      1 080
090 RNX2STA  PNZ_REF           ANY      1 085
095 PNZATX   PNZ_REF           ANY      1 090
100 RXOBV3   PNZ_REF           ANY      1 095
105 CREATABB PNZ_REF           ANY      1 100
110 CODSPPAP PNZ_GEN           ANY      1 105
111 CODSPP_P PNZ_GEN           ANY      1 110
301 SNGDIF   PNZ_GEN           ANY      1 111
311 MAUPRPAP PNZ_GEN           ANY      1 301
312 MAUPRP_P PNZ_GEN           ANY      1 311
313 MPRXTR   PNZ_GEN           ANY      1 312
321 GPSEDTAP PNZ_GEN           ANY      1 313
322 GPSEDT_P PNZ_EDT           ANY      1 321
331 GPSCHK   PNZ_GEN           ANY      1 322
401 GPSEST   PNZ_GEN           ANY      1 331
411 GPSQIFAP PNZ_QIF           ANY      1 401
412 GPSQIF_P PNZ_QIF           ANY      1 411
413 GPSXTR   PNZ_QIF           ANY      1 412
501 GPSEST   PNZ_MIN           ANY      1 413
511 ADDNEQ2  PNZ_MIN           ANY      1 501
512 HELMR1   PNZ_MIN           ANY      1 511
513 ADDNEQ2  PNZ_FIN           ANY      1 512
600 PNZSUMRY PNZ_GEN           ANY      1 513
999 PNZSTART PNZ_GEN           ANY      1 600
PID USER         PASSWORD PARAM1   PARAM2   PARAM3   PARAM4   PARAM5   PARAM6   PARAM7   PARAM8   PARAM9
3** 12********** 8******* 8******* 8******* 8******* 8******* 8******* 8******* 8******* 8******* 8*******
001                       NEXTJOB  010      080               GETORB   GETREF            STATUS
010                       NEXTJOB  999                                                   GETORB
080                       NEXTJOB  999                                                   GETREF
110                       $110
111                       PARALLEL $110
311                       $311
312                       PARALLEL $311
321                       $321
322                       PARALLEL $321
411                       $411
412                       PARALLEL $411
999                       FINISH                              GETORB   GETREF            STATUS
VARIABLE DESCRIPTION                              DEFAULT
8******* 40************************************** 30****************************
V_A      A priori information                     APR
V_B      Orbit/ERP, DCB, ION information          IGS
V_C      Preliminary (ambiguity-float) results    P1_
V_E      Final (ambiguity-fixed) results          F1_
V_F      Size-reduced NEQ information             R1_
V_MERGE  If products/data need to be merged       0
V_MINUS  Session range begin (for COMPAR)         -6
V_PLUS   Session range end                        +0
V_CLU    Maximum number of files per cluster      3
V_I      ION ESTIMATION                           ION
V_USRMRK User station code                        U001
V_SAMPL  Sampling rate of solutions               30
V_ORBTYP Select the orbit quality required        FINAL
V_ERPTYP Select the ERP quality required          FINAL
V_GDDNLD GETDATA download now                     1
V_GDQUEU GETDATA queue data request               0
#
# DO NOT USE V_D, V_J, V_M, V_Y VARIABLES!
#
#
